@import variables
  
.square
  width: fit-content
  padding: .5rem
  margin: 0 0 2rem

  &Title
    font-size: 1.5rem
    font-weight: 900


.input
  display: block
  margin: .5rem 0 0
  color: $fontColor
  border-radius: 2px
  padding: .5rem