.header
  display: flex
  justify-content: space-between
  align-items: center

.basket
  display: flex
  align-items: center
  &Menu
    position: fixed
    overflow-y: scroll
    width: 20rem
    height: 10rem
    left: calc(50% - 20rem)
    top: calc(50% - 10rem)
    padding: 2rem
    border: 2px solid #333
    background: black
  &Elem
    padding: 1rem
    border-top: 2px solid #444
    display: flex
    justify-content: space-between