@import variables

.list
  display: grid
  grid-template-columns: repeat(auto-fit, 20rem)
  gap: 1rem
  margin: 0 2rem

.product
  color: $fontColor
  max-width: 14rem
  height: 10.5rem
  padding: .5rem
  display: flex
  flex-direction: column
  justify-content: space-between
  &Bottom
    display: flex
    align-items: center
    justify-content: space-between
    &Right
      display: flex
      align-items: center
    &Button
      background: none
      font-weight: 900
      font-size: 1.5rem
      border: none
      cursor: pointer
      width: 2rem

.name
  font-weight: 400
  font-size: .8125rem
  line-height: 1.25rem

.price
  font-weight: 800
  font-size: .875rem
  line-height: 140%

.orderButton
  border-radius: 1.5rem
  border: none
  background: $green
  padding: .2rem .5rem
  font-weight: 800